<div class="fit ms-auto me-auto mt-5">
    <input  type="text" name="" id="" placeholder="Movie Name" [(ngModel)]="name" > <br>
    <input class="mt-2" type="text" placeholder="Enter The Language" [(ngModel)]="language"> <br>
    <input class="mt-3" type="Date" placeholder="ReleasedOn" [(ngModel)]="releasedOn"> <br>
    <input class="mt-3" type="text" name="" class="mt-3" id="" [(ngModel)]="imagePath" placeholder="Movie Path"> <br>
    <div class="d-flex justify-content-center">
        <button class="btn btn-danger mt-3" (click)="insert()">Submit</button>
    </div>
</div>