<div class="fit-content ms-auto me-auto mr-top ">
    <input type="text" name="" id="" placeholder="Enter your name" class="p-2" [(ngModel)]="name"> <br>
    <input type="text" name="" id="" placeholder="Enter your Email" class="p-2" [(ngModel)]="email"> <br>
    <input type="number" name="" id="" placeholder="Enter Phone Number" class="p-2" [(ngModel)]="phoneno"> <br>
    <input type="password" name="" id="" placeholder="Enter ur Password" class="p-2" [(ngModel)]="password" > <br>
    <div class="d-flex justify-content-center mt-2">
        <button class="btn btn-danger p-1 " (click)="postNewUser()">Sign Up</button>
    </div>
    <p class="d-none">Wrong Details</p>
   

</div> 

